.container {
  height: 50px;
  width: 325px;
  position: fixed;
  right: 10px;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: var(--oxford-blue);
  color: var(--background-color);
  text-align: center;
  animation: show_toast 0.3s ease forwards;
}

.container::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: red;
  animation: progress 3s linear forwards;
}

.hide {
  animation: hide_toast 0.3s ease forwards;
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 10px));
  }
}

@keyframes progress {
  100% {
    width: 0;
  }
}
