@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #0a0914;
  --background-color: #c1bcc4;
  --ultra-violet: #474973;
  --oxford-blue: #161b33;
}

body {
  color: var(--text-color);
  background-color: #c1bcc4;
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--oxford-blue);
  border-radius: 5px;
}
